<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
  <!--<![endif]-->
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Privacy policy - Lica" />
    <meta name="author" content="Lica" />

    <title>Terms & conditions - Lica</title>

    <link rel="shortcut icon" type="image/x-icon" href="img/favicon.png" />

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <!-- Elegant Font Icons CSS -->
    <link rel="stylesheet" href="css/elegant-font-icons.css" />
    <!-- Elegant Line Icons CSS -->
    <link rel="stylesheet" href="css/elegant-line-icons.css" />
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <!-- Slicknav CSS -->
    <link rel="stylesheet" href="css/slicknav.min.css" />
    <!-- animate CSS -->
    <link rel="stylesheet" href="css/animate.min.css" />
    <!-- OWL-Carousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.css" />
    <!-- Swiper CSS -->
    <link rel="stylesheet" href="css/swiper.min.css" />
    <!-- Main CSS -->
    <link rel="stylesheet" href="css/main.css" />
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="css/responsive.css" />

    <script src="js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  </head>
  <body data-spy="scroll" data-target="#navmenu" data-offset="70">
    <!--[if lt IE 8]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="http://browsehappy.com/">upgrade your browser</a> to improve
        your experience.
      </p>
    <![endif]-->

    <div class="site-preloader-wrap">
      <div class="spinner"></div>
    </div>
    <!-- Preloader -->

  <header id="header" class="header-section">
    <div class="container">
      <nav class="navbar">
        <a href="/" class="navbar-brand"><img src="img/lica-logo.png" alt="Lica" /></a>
        <div class="d-flex menu-wrap">
          <ul class="nav">
            <li>
              <a data-scroll class="nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
  <li>
    <a data-scroll class="nav-link" href="/about.html">About</a>
  </li>
            <li>
              <a data-scroll class="nav-link" href="/faq.html">FAQ</a>
            </li>
            <li>
              <a data-scroll class="nav-link" href="/privacy.html">Privacy</a>
              <a data-scroll class="nav-link" href="/terms.html">Terms</a>
            </li>
          </ul>
          <div class="header-btn">
            <a href="#social-link" class="default-btn">Contact us</a>
          </div>
        </div>
      </nav>
    </div>
  </header>
    <!-- Header Section -->

    <section id="about" class="screenshots-section bg-white padding">
      <div class="container">
        <div class="section-heading mb-60 p-center">
          <h2 style="margin-top: 20px">Privacy Policy</h2>
              <div style={{ margin: 10 }}>
                <p style="margin-bottom: 15px;" >
                  Lica is an online lending platform operated by Modellica Partners
                  Ltd, and we are committed to protecting and respecting your privacy.
                  This privacy policy regulates how personal information you provide
                  on Lica App or website or we collect from you can be used or
                  processed by us, our subsidiaries, affiliates, officers, employees
                  or agents. Please read the following carefully to understand our
                  divs and practices regarding your personal data and how we will
                  treat it.
                </p>
                <p style="margin-bottom: 15px;" >
                  By downloading and signing up on Lica App, you confirm that you have
                  read and understood the terms and practices described in this
                  policy. You accept and consent to gathering, usage, storing,
                  processing and disclosure of your personal data in the manner set
                  out in this policy. Also, you consent to collecting information from
                  relevant third parties as may be necessary in respect of the
                  services extended to you via Lica App.
                </p>
                <p style="margin-bottom: 15px;" >
                  The collection and processing of your personal data is in accordance
                  with the National Information Technology Development Agency Act 2007
                  (the Act) and the provisions and prescriptions of Section 5; Part 1
                  and Part 2 of National Information Systems and Network Security
                  Standards and Guidelines.
                </p>
                <p style="margin-bottom: 15px; font-size: 20px; font-weight: bold;" >
                  Information we may collect from you
                </p>
                <p style="margin-bottom: 15px;" >
                  We may collect and process the following data about you.
                </p>
                <p style={{ marginBottom: 15, fontWeight: "bold" }}>
                  Information you give while using Lica App
                </p>
                <p style="margin-bottom: 15px;" >
                  This may include information; provided while creating your Account
                  on the Lica App or on our website provided by e-mail or chat,
                  telephone correspondence with us provided when, applying for a loan,
                  searching for Lica App features, transactional information based on
                  your activities on the App, the applications you use on social media
                  sites, and when you report a problem encountered while using Lica
                  App, its services, or our website Such as your name, e-mail address
                  and phone number, age, username, password and other registration
                  information, financial information (bank account details, debit card
                  details and bank verification number), employment details, device's
                  phone number
                </p>
                <p style={{ marginBottom: 15, fontWeight: "bold" }}>
                  Information we collect about you and your device.
                </p>
                <p style="margin-bottom: 15px;" >
                  Every time you use Lica App, we may automatically collect the
                  following information; Technical information, including but not
                  limited to device ID & type, unique device identifiers (e.g. your
                  device's IMEI or serial number), IP address of your device, your
                  mobile operating system, information about the SIM card used by the
                  Device, mobile network information, your Device’s operating system,
                  your browser type, or your device’s location and time zone setting
                  (Device Information) and other diagnostic data; Information stored
                  on your device, including contact lists, call logs, SMS logs,
                  activities and contact lists on other social media accounts, other
                  Apps running on your Device GPS technology to gather geo-location
                  information. However, your consent to collection, processing or use
                  of this information can be withdrawn at any time by simply
                  uninstalling the Lica App on your Device
                </p>
                <p style="margin-bottom: 15px; font-size: 20px; font-weight: bold;" >
                  Information we receive from other sources (Third Party Information)
                </p>
                <p style="margin-bottom: 15px;" >
                  The services we provide requires that we partner with some third
                  parties (payment processors, credit bureaus, financial services and
                  credit providers, data analytics companies) and we may receive
                  information about you from them.
                </p>
                <p style="margin-bottom: 15px; font-size: 20px; font-weight: bold;" >
                  Tracking and cookies
                </p>
                <p style="margin-bottom: 15px;" >
                  We may use mobile tracking technologies and/or cookies to
                  distinguish you from other users of the App or website. This helps
                  us to improve your experience while using the App or when you browse
                  our website. Also, it helps us to improve the App and website.
                </p>
                <p style="margin-bottom: 15px; font-size: 20px; font-weight: bold;" >
                  What we use your information for
                </p>
                <p style="margin-bottom: 15px;" >
                  We may use and retain your information for any or all of the
                  following purposes: Process your loan application and determine your
                  suitability Credit assessment, conduct credit checks and amount of
                  such loan Terms and conditions applicable to the loan To improve our
                  products and services offerings Internal operational purposes
                  (market research, data analysis, surveys) targeted at improving our
                  products and services For promotional campaigns and target marketing
                  to you and other users of Lica products and services Notify you of
                  new product offerings, changes to our services and our platforms To
                  create a credit score which may be shared with third parties for
                  cross selling purposes Identity verification, government sanctions
                  screening and due diligence checks For debt recovery purposes (we
                  may submit your information to third party collection companies, and
                  credit bureaus where necessary) To comply with an order of the
                  Court, Arbitration Panel, Tribunal, Regulatory Directive or any
                  other legal or regulatory obligation To seek professional advice, in
                  connection with any processes, claims or proceedings instituted by
                  or against us as a consequence of any product or service provided to
                  you
                </p>
                <p style="margin-bottom: 15px; font-size: 20px; font-weight: bold;" >
                  Disclosure of your information
                </p>
                <p style="margin-bottom: 15px;" >
                  We may share your personal information with any of our subsidiaries,
                  and with selected third parties: Including business partners,
                  suppliers and sub-contractors for the performance of any contract we
                  enter into with them or you. In the event that we sell or buy any
                  business or assets, in which case we may disclose your personal data
                  to the prospective seller or buyer of such business or assets; If
                  Modellica Partners or substantially all of its assets are acquired
                  by a third party, in which case personal data held by it about its
                  customers will be one of the transferred assets; To law enforcement
                  & government agencies, or authorized third parties, if we are under
                  a duty to disclose or share your personal data in order to comply
                  with any legal or regulatory obligation or request; To enforce our
                  Terms and Conditions and other Agreements or to investigate
                  potential breaches or for the purpose of publishing statistics
                  relating to the use of the App, in which case all information may be
                  aggregated or made anonymous. To report your Account to credit
                  bureaus; Late payments, missed payments or, other defaults on your
                  Account may be reflected in your credit report
                </p>
                <p style="margin-bottom: 15px; font-size: 20px; font-weight: bold;" >
                  Where We store your personal data
                </p>
                <p style="margin-bottom: 15px;" >
                  We store the data that we collect from you in our secured servers.
                  By submitting your personal data, you also agree to the collection,
                  transfer, storing or processing of your personal data in the manner
                  set out above. We will take all steps reasonably necessary to ensure
                  that your data is treated, stored and processed securely and in
                  accordance with this privacy Policy. Where we have given you (or
                  where you have chosen) a password that enables you to access certain
                  parts of the App, you are responsible for keeping this password
                  confidential. We ask you not to share a password with anyone.
                  Unfortunately, the transmission of information via the internet is
                  not completely secure. Although we will do our best to protect your
                  personal data, we cannot guarantee the security of your data
                  transmitted to Our Service Sites; any transmission is at your own
                  risk. Once we have received your information, we will use strict
                  procedures and security features to try to prevent unauthorized
                  access
                </p>
                <p style="margin-bottom: 15px; font-size: 20px; font-weight: bold;" >
                  Data Security
                </p>
                <p style="margin-bottom: 15px;" >
                  Securing your data is of utmost priority to us. However, note that
                  no method of transmission over the internet, or method of electronic
                  storage is 100% secure. We implement and maintain appropriate
                  safeguards to protect personal data, taking into account in
                  particular the risks to you, presented by unauthorised or unlawful
                  processing or accidental loss, destruction of, or damage to their
                  personal data. While we strive to use commercially acceptable means
                  to protect your personal data, we cannot guarantee its absolute
                  security
                </p>
                <p style="margin-bottom: 15px; font-size: 20px; font-weight: bold;" >
                  Your rights
                </p>
                <p style="margin-bottom: 15px;" >
                  We will use your data for the purposes of compiling statistics
                  relating to our user base or loan portfolio and may disclose such
                  information to any third party for such purposes, provided that such
                  information will always be anonymous and is in line with the Terms
                  and Conditions of use. Should we wish to use your personal
                  information for marketing purposes, we will inform you prior to such
                  use. You shall be entitled to prevent such usage by informing us,
                  with 3 days of being contacted of the proposed use, that you do not
                  wish to disclose such information in this manner. You can also
                  exercise this right at any time by contacting us at email:………………..
                  This does not, however, preclude us from using your information for
                  our marketing purposes.
                </p>
                <p style="margin-bottom: 15px; font-size: 20px; font-weight: bold;" >
                  Access
                </p>
                <p style="margin-bottom: 15px;" >
                  You have the right to stop our access to your personal data. Should
                  you wish to stop sharing information, you can uninstall the Lica
                  App.
                </p>
                <p style="margin-bottom: 15px; font-size: 20px; font-weight: bold;" >
                  Links to Other Sites
                </p>
                <p style="margin-bottom: 15px;" >
                  This service may, from time to time, contain links to and from the
                  websites of our partner networks, advertisers and affiliates. If you
                  follow a link to any third party link, you will be directed to that
                  site. However, please note that these websites are not operated by
                  us and they have their own privacy policies. We strongly advise that
                  you rediv the privacy of these websites. We have no control and we
                  do not accept any responsibility or liability for their policies,
                  contents or practices. Please check these policies before you submit
                  any personal data to these websites.
                </p>
                <p style="margin-bottom: 15px; font-size: 20px; font-weight: bold;" >
                  Changes to Privacy Policy
                </p>
                <p style="margin-bottom: 15px;" >
                  We may update our privacy policy from time to time. Thus, you are
                  advised to rediv this page periodically for any changes. We may
                  notify you of any changes when you next start the App and by posting
                  the new privacy policy on this page. The new terms may be displayed
                  on-screen and you may be required to read and accept them to
                  continue your use of the App. These changes are effective
                  immediately after they are posted on this page and by continuing to
                  use the App, you confirm your acceptance of this Policy together
                  with such changes, and your consent to the terms set out therein.
                </p>
                <p style="margin-bottom: 15px;" >
                  If you have questions, comments, suggestions regarding this privacy
                  policy, kindly contact us by email: info@getlica.com
                </p>
              </div>
        </div>
      </div>
    </section>
    <!-- Screenshots Section -->

    <div id="subscribe" class="subscribe-section text-center" style="padding:20px 0;">
      <div class="container p-center">
        <div class="subscribe-content">
          <img class="logo" src="lica-logo.png" alt="logo" />
          <br />
          <p>
            Email:
            <a href="mailto:customer@getlica.com" style="color: #fff"
              >customer@getlica.com</a
            >
          </p>
           <p>
            Phone:
            <a href="tel:+234 816 906 0001" style="color: #fff"
              >+234 816 906 0001</a
            >
          </p>
        </div>
        <div class="subscribe-wrap" style="display: none">
          <form action="#" class="subscribe-form">
            <input
              type="email"
              name="email"
              id="subs-email"
              class="form_input"
              placeholder="Enter Your Email Address..."
            />
            <button type="submit" class="submit">Send</button>
            <div id="subscribe-result">
              <p class="subscription-success"></p>
              <p class="subscription-error"></p>
            </div>
          </form>
        </div>
        <!-- /.subscribe_wrap -->
        <div class="clearfix"></div>
        <!-- <ul class="social-link" id="social-link">
          <li>
            <a target="_blank" href="https://facebook.com/getlica"
              ><i class="fa fa-facebook"></i
            ></a>
          </li>
          <li>
            <a target="_blank" href="https://twitter.com/getlica_NG"
              ><i class="fa fa-twitter"></i
            ></a>
          </li>
          
        </ul> -->
        <!-- /.social_link -->
      </div>
    </div>
    <!-- Subscribe Section -->

    <a data-scroll href="#header" id="scroll-to-top"
      ><i class="arrow_carrot-up"></i
    ></a>

    <!-- jQuery Lib -->
    <script src="js/vendor/jquery-1.12.4.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="js/vendor/bootstrap.min.js"></script>
    <!-- Tether JS -->
    <script src="js/vendor/tether.min.js"></script>
    <!-- Slicknav JS -->
    <script src="js/vendor/jquery.slicknav.min.js"></script>
    <!-- OWL-Carousel JS -->
    <script src="js/vendor/owl.carousel.min.js"></script>
    <!-- Swiper JS -->
    <script src="js/vendor/swiper.min.js"></script>
    <!-- Smooth Scroll JS -->
    <script src="js/vendor/smooth-scroll.min.js"></script>
    <!-- Ajaxchimp JS -->
    <script src="js/vendor/jquery.ajaxchimp.min.js"></script>
    <!-- Wow JS -->
    <script src="js/vendor/wow.min.js"></script>
    <!-- Main JS -->
    <script src="js/main.js"></script>
  </body>
</html>
